.alignment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.view {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 3px #e1e1e1;
  width: 60vw;
  height: 80vh;
}

.chatInput {
  margin-top: 1rem;
}
