.header {
  margin-bottom: 7rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBackdrop {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;
  border: 1px solid #e1e1e1;
  border-radius: 30px;
  padding: 1rem;
}

.searchBar {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.searchBackdrop:has(.searchBar:focus) {
  outline: solid 1px rgba(0, 0, 0, 0.4);
}

.searchButton {
  border: none;
  background: transparent;
}

.roomListBorder {
  box-shadow: inset 0px 0px 3px 1px #e1e1e1;
  border-radius: 20px;
  overflow-y: hidden;
  height: 34rem;
}

.roomList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30rem;
  gap: 2rem;
  overflow-y: scroll;
  padding: 1rem;
  max-height: 32rem;
  border-radius: 20px;
}

.card {
  display: block;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 3px #e1e1e1;
  width: 12rem;
  height: fit-content;
  max-height: 10rem;
}

.active {
  display: flex;
  line-height: 1em;
  justify-content: end;
  margin: 0;
}

.active::after {
  content: "";
  border-radius: 50%;
  background-color: green;
  position: relative;
  top: 0.25em;
  display: flex;
  width: 0.5em;
  height: 0.5em;
  margin-left: 0.25rem;
}

.inactive {
  display: flex;
  line-height: 1em;
  justify-content: end;
  margin: 0;
}

.inactive::after {
  content: "";
  border-radius: 50%;
  background-color: rgb(213, 174, 0);
  position: relative;
  top: 0.25em;
  display: flex;
  width: 0.5em;
  height: 0.5em;
  margin-left: 0.25rem;
}

.roomName {
  display: block;
  word-wrap: break-word;
  text-overflow: ellipsis;
  width: 12rem;
  margin: 1.25rem 0rem;
  white-space: nowrap;
  overflow: hidden;
  max-height: 2rem;
}

.roomNameInput {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  width: 12rem;
  margin: 1.25rem 0rem;
  margin-bottom: 1.125rem;
  height: 1.75rem;
  border: none;
  outline: none;
  padding: 0;
  border-bottom: 0.125rem solid rgba(0, 0, 0, 0.5);
}

.roomNameInput:focus {
  border-bottom: 0.125rem solid rgba(0, 0, 0, 0.8);
}

.card:hover .roomName {
  display: flex;
  word-break: break-word;
  max-height: 100vh;
  white-space: unset;
  transition: max-height 1s ease-in-out;
}

.card:hover {
  max-height: 100vh;
  transition: max-height 1s ease-in-out;
}

.bottomGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 1.75rem;
}

.joinButton {
  font-weight: 600;
  color: #f7f7f7;
  background-color: #0066ff;
  border: 2px solid #0066ff;
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
}

.joinButton:hover {
  cursor: pointer;
  color: #0066ff;
  background-color: white;
}

.joinButton:active {
  color: #003f9e;
  border-color: #003f9e;
  background-color: white;
}
