.view {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  background-color: #f7f7f7;
  border: 0px solid #e1e1e1;
  border-radius: 4px;
  overflow-y: scroll;
  height: 22.5rem; /* equals 10 elements */
  box-shadow: inset 0px 0px 3px 1px #e1e1e1;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 28rem;
}

.text {
  margin: 0 0.5rem;
  word-break: break-word;

  padding: 0.25rem;

  width: fit-content;

  background-color: #4989eb;
  color: #f7f7f7;

  border: solid 1px #4989eb;
  border-radius: 10px;
}

.status {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  font-weight: 600;
  justify-content: end;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.sentOn {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
