.view {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  padding-top: 0.5rem;
  background-color: #f7f7f7;
  border: 0px solid #e1e1e1;
  border-radius: 4px;
  overflow-y: scroll;
  height: 22.5rem; /* equals 7 elements */
  box-shadow: inset 0px 0px 3px 1px #e1e1e1;
}

.view::-webkit-scrollbar {
  background-color: transparent;
  width: 0.25rem;
}

.view::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.view:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

.message {
  display: flex;
  flex-direction: column;
  max-width: 28rem;
}

.flex {
  display: flex;
}

.text {
  margin: 0 0.25rem 0rem 0.5rem;
  word-break: break-word;

  padding: 0.25rem 0.35rem;

  width: fit-content;

  background-color: #0066ff;
  color: #f7f7f7;

  border-radius: 10px;
}

.left {
  border-bottom-left-radius: 3px;
}

.right {
  border-bottom-right-radius: 3px;
}

.status {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  font-weight: 600;
  margin: 0 0.5rem 0.5rem 0.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.sentOn {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

p {
  margin: 0;
}
