.view {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  background-color: #f7f7f7;
  border: 0px solid #e1e1e1;
  border-radius: 4px;
  overflow-y: scroll;
  height: 22.5rem; /* equals 10 elements */
  box-shadow: inset 0px 0px 3px 1px #e1e1e1;
  /* background: repeating-linear-gradient(#f7f7f760, #00000060 3px); */
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.25rem;
  padding: 0.25rem;
}

.text {
  flex-basis: 60%;
  padding-left: 1rem;
  justify-content: left;
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 40%;
}
